.text-title1 {
    display: flex;
    position: relative;
    width: 100%;
    margin: 10px 0;
    height: 40px;
    font-size: 24pt;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-title1.center {
    align-items: center;
}

.text-title1.left {
    align-items: flex-start;
}

.text-title1.right {
    align-items: flex-end;
}

.text-body1 {
    display: flex;
    position: relative;
    width: 100%;
    margin: 10px 0;
    height: auto;
    font-size: 14pt;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
